<div class="limit-height pacs-department">
    <clr-datagrid class="datagrid-compact pacs-department-event-datagrid" [clrDgLoading]="loading">
        <clr-dg-column>Время</clr-dg-column>
        <clr-dg-column></clr-dg-column>
        <clr-dg-column></clr-dg-column>

        <clr-dg-placeholder>Нет событий!</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let pacsLastEvent of pacsLastEventArray$ | async" [clrDgItem]="pacsLastEvent">
            <clr-dg-cell class="date-column">{{ pacsLastEvent.eventDate | date : 'HH:mm:ss' }}</clr-dg-cell>
            <clr-dg-cell>{{
                pacsLastEvent.displayName ? (pacsLastEvent.displayName | employeeName) : pacsLastEvent.pacsDisplayName
            }}</clr-dg-cell>
            <clr-dg-cell>{{ pacsLastEvent.accessPoint }}</clr-dg-cell>
        </clr-dg-row>

        <!-- <clr-dg-footer> {{ (this.pacsLastEventArray$ | async)?.total }} событий </clr-dg-footer>-->
    </clr-datagrid>
</div>
