.module-title.pacs {
  padding-bottom: 0.9rem;
}

.clr-form-control {
  //align-items: unset;
  margin-top: 0rem;
}

.employee-search-form {
  & .clr-control-container {
    //max-width: fit-content !important;
  }
  text-align: end;
}
.employee-search {
  max-width: 85%;
  &-container {
    &-label {
      color: #666;
      font-size: 0.6rem;
      font-weight: 600;
      letter-spacing: 0.03em;
      flex: 0 0 50%;
      max-width: 50%;
    }

    ::ng-deep &-input {
      color: #666;
      font-size: 0.6rem;
      font-weight: 500;
      letter-spacing: 0.03em;
      // width: 4rem;
      flex: 0 0 50%;
      max-width: 100%;
      width: 100%;
      padding-left: 0rem;
    }
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #0072a3;
  --mdc-snackbar-container-color: #fafafa;
  --mdc-snackbar-supporting-text-color: #666666;

  & .mdc-snackbar__label {
    font-size: 0.631rem !important;
    white-space: pre-line !important;
  }
  & .mdc-snackbar__surface {
    box-shadow: 0 0.05rem 0.15rem #8c8c8c40 !important;
    border: 0.05rem solid !important;
    border-color: #ccc !important;
  }
  & .mat-mdc-button {
    outline: none;
    & .mat-mdc-button-persistent-ripple::before {
      background-color: unset !important;
    }
    & .mat-mdc-button-ripple {
      position: unset;
    }
  }
}
