@if (currentUser) {
  <clr-header class="header-desktop">
    <div class="branding">
      <!--<cds-icon class="cds-icon clr-clarity-logo" shape="help-info"></cds-icon>-->
      <!--<span class="cds-icon clr-clarity-logo"></span>-->
      <span class="title">Портал ИТО</span>
    </div>
    <div class="header-actions">
      <div class="settings" style="align-items: center">
        <div class="notify-signpost">
          <clr-signpost>
            <button class="btn btn-link btn-icon" clrSignpostTrigger>
              <span class="badge">12</span>
              <cds-icon shape="bell"> </cds-icon>
            </button>
            <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen> Lorem ipsum... </clr-signpost-content>
          </clr-signpost>
        </div>
        <span class="title">&nbsp;&nbsp;{{ clock | async | date: 'E dd MMMM, HH:mm' }} </span>
      </div>
      <img class="person-photo" [src]="currentUser.userPhoto | thumbnailPhoto"  alt=""/>
      <button class="btn btn-link btn-icon header-actions-logout" (click)="onLogout()">
        <cds-icon shape="logout"> </cds-icon>
      </button>
      <!--
      <a href="#" [routerLink]="['/login']" class="nav-link nav-icon">
        <cds-icon shape="logout"> </cds-icon>
      </a>
    --></div>
  </clr-header>
}
