<div class="card">
    <div class="card-header">
      <h5 class="card-header__head">Главный вход</h5>
    </div>
    <div class="card-block">

<!--        <div class="canvas-container">-->
<!--            <canvas class="context-canvas" id="main-camera"></canvas>-->
<!--        </div>-->
      <video
        #cameraVideo
        class="context-canvas"
        [attr.data-id]="'street_entrance'"
        muted
        autoplay
        playsinline>
      </video>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-header__head">Запасной вход</h5>
    </div>
      <div class="card-block">
        <video
          #cameraVideo
          class="context-canvas"
          [attr.data-id]="'black_entrance_street'"
          muted
          autoplay
          playsinline>
        </video>
    </div>
</div>
