<div class="card">
    <div class="card-header">
        <h5 class="card-header__head">Главный вход</h5>
    </div>
    <div class="card-block">
        <div class="canvas-container">
            <canvas class="context-canvas" id="main-camera"></canvas>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-header__head">Запасной вход</h5>
    </div>
    <div class="card-block">
        <div class="canvas-container">
            <canvas class="context-canvas" id="back-camera"></canvas>
        </div>
    </div>
</div>
