<form [formGroup]="avayaFilter" clrForm class="avaya-filter" [clrLayout]="'horizontal'" autocomplete="off">
    <!--
    <div class="clr-row clr-justify-content-start">
        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-6 clr-col-xs-6">
            <clr-date-container>
                <label class="avaya-filter-label">Вызовы с:</label>
                <input class="avaya-filter-input" clrDate type="date" formControlName="callingDateStart" />
            </clr-date-container>
        </div>

        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-6 clr-col-xs-6">
            <clr-date-container>
                <label class="avaya-filter-label">по:</label>
                <input class="avaya-filter-input" clrDate type="date" formControlName="callingDateEnd" />
            </clr-date-container>
        </div>

        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <clr-input-container>
                <label class="avaya-filter-label">Номер:</label>
                <input class="avaya-filter-input" type="text" placeholder="Номер телефона" formControlName="callNumber" clrInput />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-2 clr-col-md-2 clr-col-sm-12 clr-col-xs-12">
            <clr-input-container>
                <label class="avaya-filter-label">Фамилия:</label>
                <input class="avaya-filter-input" type="text" placeholder="Фамилия" formControlName="callName" clrInput />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-3 clr-col-md-3 clr-col-sm-12 clr-col-xs-12">
            <clr-checkbox-container class="directionGroup" clrInline>
                <clr-checkbox-wrapper class="directionGroupCheck">
                    <input type="checkbox" clrCheckbox formControlName="callDirectionIn" />
                    <label class="avaya-filter-label">входящие звонки</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper class="directionGroupCheck">
                    <input type="checkbox" clrCheckbox formControlName="callDirectionOut" />
                    <label class="avaya-filter-label">исходящие звонки</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>

        <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-12 clr-col-xs-12">
            <div class="filterButton btn-group btn-link btn-sm btn-icon">
                <button class="btn" title="Фильтровать" (click)="(null)">
                    <clr-icon shape="search"></clr-icon>
                </button>
                <button class="btn" (click)="('export')">
                    <clr-icon shape="export" title="Экспортировать в Excel"></clr-icon>
                </button>
                <button class="btn" (click)="(null)">
                    <clr-icon shape="times" title="Отменить поиск"></clr-icon>
                </button>
            </div>
        </div>
       </div>
-->
    <div class="clr-row clr-justify-content-end">
        <div class="clr-col view-period">
            <clr-input-container class="view-period-container">
                <label class="view-period-container-label">За последний:</label>
                <input
                    class="view-period-container-input"
                    formControlName="avayaViewPeriod"
                    type="text"
                    clrInput
                    [matAutocomplete]="viewPeriod"
                    onkeydown="return false"
                />
                <mat-autocomplete #viewPeriod="matAutocomplete" [displayWith]="displayFn">
                    <ng-container>
                        <mat-option *ngFor="let period of this.periods" [value]="period" (onSelectionChange)="onFilterPeriodChange($event)">
                            {{ period.name }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </clr-input-container>
        </div>
        <div class="clr-col-3 filter-button">
            <!--
            <clr-button-group class="filter-button btn-group btn-link btn-icon">
                <clr-button class="btn" title="Фильтровать">
                    <clr-icon shape="search"></clr-icon>
                </clr-button>
                <clr-button class="btn">
                    <clr-icon shape="export" title="Экспортировать в Excel"></clr-icon>
                </clr-button>
                <clr-button class="btn">
                    <clr-icon shape="times" title="Отменить поиск"></clr-icon>
                </clr-button>
            </clr-button-group>
        -->

            <clr-signpost>
                <button class="btn btn-link btn-icon" clrSignpostTrigger>
                    <clr-icon shape="search"> </clr-icon>
                </button>
                <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                    <!--
                    <div class="clr-row clr-justify-content-start">
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <clr-date-container>
                                <label class="avaya-filter-label">Вызовы с:</label>
                                <input class="avaya-filter-input" clrDate type="date" formControlName="callingDateStart" />
                            </clr-date-container>
                        </div>

                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <clr-date-container>
                                <label class="avaya-filter-label">по:</label>
                                <input class="avaya-filter-input" clrDate type="date" formControlName="callingDateEnd" />
                            </clr-date-container>
                        </div>

                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <clr-input-container>
                                <label class="avaya-filter-label">Номер:</label>
                                <input
                                    class="avaya-filter-input"
                                    type="text"
                                    placeholder="Номер телефона"
                                    formControlName="callNumber"
                                    clrInput
                                />
                            </clr-input-container>
                        </div>

                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <clr-input-container>
                                <label class="avaya-filter-label">Фамилия:</label>
                                <input class="avaya-filter-input" type="text" placeholder="Фамилия" formControlName="callName" clrInput />
                            </clr-input-container>
                        </div>

                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
                            <clr-checkbox-container class="directionGroup" clrInline>
                                <clr-checkbox-wrapper class="directionGroupCheck">
                                    <input type="checkbox" clrCheckbox formControlName="callDirectionIn" />
                                    <label class="avaya-filter-label">входящие звонки</label>
                                </clr-checkbox-wrapper>
                                <clr-checkbox-wrapper class="directionGroupCheck">
                                    <input type="checkbox" clrCheckbox formControlName="callDirectionOut" />
                                    <label class="avaya-filter-label">исходящие звонки</label>
                                </clr-checkbox-wrapper>
                            </clr-checkbox-container>
                        </div>
                    </div>
                -->
                </clr-signpost-content>
            </clr-signpost>
            <button class="btn btn-link btn-icon">
                <clr-icon shape="export" title="Экспортировать в Excel"></clr-icon>
            </button>
            <button class="btn btn-link btn-icon">
                <clr-icon shape="times" title="Отменить поиск"></clr-icon>
            </button>
        </div>
    </div>
</form>
