<div class="content-container">
  @if (currentUser) {
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true" [clr-nav-level]="2">
      <a clrVerticalNavLink routerLink="/home" routerLinkActive="active" title="На главную">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        На главную
      </a>
      <a clrVerticalNavLink routerLink="/user-request" routerLinkActive="active" title="Обращения пользователей">
        <cds-icon clrVerticalNavIcon shape="form"></cds-icon>
        Обращения пользователей
      </a>
      <a clrVerticalNavLink>
        <cds-icon clrVerticalNavIcon shape="shopping-bag"></cds-icon>
        Заявки на приобретение
      </a>
      <a clrVerticalNavLink routerLink="/pacs" routerLinkActive="active" title="СКУД">
        <cds-icon clrVerticalNavIcon shape="id-badge"></cds-icon>
        СКУД
      </a>
      <a clrVerticalNavLink routerLink="/avaya" routerLinkActive="active" title="Телефония">
        <cds-icon clrVerticalNavIcon shape="phone-handset"></cds-icon>
        Телефония
      </a>
      <a clrVerticalNavLink routerLink="/dhcp" routerLinkActive="active" title="DHCP">
        <cds-icon clrVerticalNavIcon shape="computer"></cds-icon>
        DHCP
      </a>
      <a clrVerticalNavLink routerLink="/vpn" routerLinkActive="active" title="VPN">
        <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
        VPN
      </a>
      <a clrVerticalNavLink routerLink="/zabbix" routerLinkActive="active" title="Мониторинг оборудования">
        <cds-icon clrVerticalNavIcon shape="dashboard"></cds-icon>
        Мониторинг оборудования
      </a>
    </clr-vertical-nav>
  }

  <!-- Content Area -->
  <div class="content-area">
    <fe-header-desktop [currentUser]="this.currentUser"></fe-header-desktop>
    <!-- Router -->
    <router-outlet></router-outlet>
  </div>

  <!-- Content Area -->
</div>
