<div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true" [clr-nav-level]="2" *ngIf="currentUser">
        <a clrVerticalNavLink routerLink="/home" routerLinkActive="active" title="На главную">
            <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
            На главную
        </a>
        <a clrVerticalNavLink routerLink="/user-request" routerLinkActive="active" title="Обращения пользователей">
            <clr-icon clrVerticalNavIcon shape="form"></clr-icon>
            Обращения пользователей
        </a>
        <a clrVerticalNavLink>
            <clr-icon clrVerticalNavIcon shape="shopping-bag"></clr-icon>
            Заявки на приобретение
        </a>
        <a clrVerticalNavLink routerLink="/pacs" routerLinkActive="active" title="СКУД">
            <clr-icon clrVerticalNavIcon shape="id-badge"></clr-icon>
            СКУД
        </a>
        <a clrVerticalNavLink routerLink="/avaya" routerLinkActive="active" title="Телефония">
            <clr-icon clrVerticalNavIcon shape="phone-handset"></clr-icon>
            Телефония
        </a>
        <a clrVerticalNavLink routerLink="/dhcp" routerLinkActive="active" title="DHCP">
            <clr-icon clrVerticalNavIcon shape="computer"></clr-icon>
            DHCP
        </a>
        <a clrVerticalNavLink routerLink="/vpn" routerLinkActive="active" title="VPN">
            <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
            VPN
        </a>
        <a clrVerticalNavLink routerLink="/zabbix" routerLinkActive="active" title="Мониторинг оборудования">
            <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
            Мониторинг оборудования
        </a>
    </clr-vertical-nav>

    <!-- Content Area -->
    <div class="content-area">
        <fe-header-desktop [currentUser]="this.currentUser"></fe-header-desktop>
        <!-- Router -->
        <router-outlet></router-outlet>
    </div>

    <!-- Content Area -->
</div>
